@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --green-color: #1dbf73;
  --white-color: #ffffff;
  --dark-green: #013914;
  --gray-color: #74767e;
}

.abc {
  display: none;
}
h1 {
  border-bottom: none;
}
a:hover {
  text-decoration: none;
}
button a:hover {
  text-decoration: none;
  color: white;
}
button:hover {
  color: black;
}
button {
  background: #403bb1;
}
button:hover {
  background: transparent;
}
