.footer {
  color: #fff;
  background-color: #0d2857;
}

.list-style {
  list-style-type: none !important;
  cursor: pointer;
  font-size: 0.75rem;
  opacity: 0.8;
}
.copy-right {
  font-size: 0.75rem;
  opacity: 0.8;
}
.Analyst {
  width: 87.7px;
  height: 23.7px;
  margin: 10.7px 0 5.2px 10.2px;
  color: #fff;
}
